name: "ebusd thermostat"
version: "0.2.0"
slug: ebusd_thermostat
description: "Control your ebus heater connected via ebusd"
init: false
arch:
  - i386
  - amd64
  - aarch64
map:
  - config:rw
  - ssl
homeassistant_api: true
services:
  - mqtt:need
options:
  ha_api_address: "http://supervisor/core"
  ebusd_address: null
  thermometer_entity: null
  tap_water_temp: 50
  temperature_band: 0.5

schema:
  ha_api_address: "str?"
  ha_api_token: "str?"
  ebusd_address: "str?"
  thermometer_entity: str
  tap_water_temp: "int(0,80)"
  temperature_band: "float(0,10)"
  mqtt_host: "str?"
  mqtt_username: "str?"
  mqtt_password: "str?"
